// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
/* Font icon class*/
.fa {
    font-family: FontAwesome, fontawesome-webfont;
}
.mdi {
    font-family: MaterialIcons;
}
// Common page class
.page-content {
    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

// .action-bar {
//     background-color: $ab-background
// }

/* Action bar*/
ActionBar .action-bar-title {
    horizontal-align: center;
}

.tab-content {
    color: $black;
    padding: 5 18;
}

.scanner-round {
    width: 260;
    height: 260;
    margin-top: 16;
    border-radius: 130;
    border-width: 8;
    border-color: #ddd;
}